name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Pull code
        uses: actions/checkout@v5

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: environment.yml
          miniforge-version: latest
          channels: conda-forge,bioconda
          channel-priority: strict
          activate-environment: shovill
          auto-update-conda: true

      - name: Set PATH
        run: |
          echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH

      - name: Basic tests
        run: |
          shovill --version
          shovill --check
          shovill --help
          ! shovill --doesnotexist

      - name: Test internal assemblers
        run: |
          SHOVILL="shovill --cpus $(nproc) --R1 test/R1.fq.gz --R2 test/R2.fq.gz""
          for ASM in spades skesa megahit velvet ; do
            $SHOVILL --outdir $ASM --asembler $ASM --nocorr --noreadcorr --nostitch
            seqkit stats $ASM/contigs.fa
          done  
